<header class="flex">
    <nav class="header-nav flex">
        <a class="header-title" href="/">Worldmap</a class="header-title">
        <ul class="flex">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul class="flex">
            {{#unless isLoggedIn}}
            <li><a href="/auth/signin">Log in</a></li>
            <li><a href="/auth/signup"></a>Sign up</li>
            {{/unless}}
            {{#if isLoggedIn}}
            <li><a href="/user">Profile</a></li>
            <li><a href="/auth/signout">Log out</a></li>
            {{/if}}
        </ul>
    </nav>
</header>