<header class="flex">
    <nav class="header-nav flex">
        <a class="header-title" href="/">Worldmapp</a class="header-title">
        <ul class="nav-list flex">
            <li><a href="/">Home</a></li>
            <li><a href="/guide">Guide</a></li>
            <li><a href="/about">About us</a></li>
            {{#unless isLoggedIn}}
            <li><a href="/auth/signin">Log in</a></li>
            <li><a href="/auth/signup">Sign up</a></li>
            {{/unless}}
            {{#if isLoggedIn}}
            <li><a href="/user">Profile</a></li>
            <li><a href="/auth/signout">Log out</a></li>
            {{/if}}
        </ul>
    </nav>
</header>