<div class="quick-search flex">
    <form action="" method="post" autocomplete="off">
        <label for="search-bar">Search :</label>
        <input type="text" name="search-bar" id="search-bar">
    </form>
    <datalist id="country-results"></datalist>
</div>