<div class="tips-nav-list" id='{{country._id}}'>
    <button class="tips-category" title="Bar" value="Bar"><i class="fas fa-wine-glass-alt"></i></button>
    <button class="tips-category" title="Restaurant" value="Restaurant"><i class="fas fa-utensils"></i></button>
    <button class="tips-category" title="Garden" value="Garden"><i class="fas fa-leaf"></i></button>
    <button class="tips-category" title="Museum" value="Museum"><i class="fas fa-eye"></i></button>
    <button class="tips-category" title="Shopping" value="Shopping"><i class="fas fa-shopping-bag"></i></button>
    <button class="tips-category" title="Info" value="Info"><i class="fas fa-info"></i></button>
</div>