<section class="page about-page flex">
    <h2>About us</h2>
    <div class="about-container flex">
        <article class="about-article about-wendy flex">
            <h3>Wendy Evora</h3>
            <p class="about-info">Junior Web Developper in the making... Let your faith be bigger than your fears, have faith, success will be near !</p>
            <div class="about-link-box flex">
                <a target="_blank" href="https://www.linkedin.com/in/wendy-evora-978653142/"><i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/Wendev13"><i class="fab fa-github"></i></a>
                <a target="_blank" href="https://wendev13.github.io/FaceQuizz/"><i class="fas fa-gamepad"></i></a>
            </div>
        </article>
        <article class="about-article about-andrew flex">
            <h3>Andrew Nunez</h3>
            <p class="about-info">Hi my name is Andrew ! Looking for French citizenship. Lets get married.</p>
            <div class="about-link-box flex">
                <a target="_blank" href=""><i class="fab fa-linkedin"></i></a>
                <a target="_blank" href=""><i class="fab fa-github"></i></a>
                <a target="_blank" href=""><i class="fas fa-gamepad"></i></a>
            </div>
        </article>
        <article class="about-article about-nina flex">
            <h3>Nina Gautreau</h3>
            <p class="about-info">Gradient and flexbox enthusiast, I also like food and jazz concerts !</p>
            <div class="about-link-box flex">
                <a target="_blank" href="https://www.linkedin.com/in/ninagautreau/"><i class="fab fa-linkedin"></i></a>
                <a target="_blank" href="https://github.com/Gorlanova"><i class="fab fa-github"></i></a>
                <a target="_blank" href="https://gorlanova.github.io/project-01-game-minesweeper/"><i class="fas fa-gamepad"></i></a>
            </div>
        </article>
    </div>
</section>