<section class="page guide-page flex">
    <h2>How to use</h2>
    <article class="guide-article step1 flex">
        <div class="guide-img">

        </div>
        <div class="guide-text">

        </div>
    </article>
    <article class="guide-article step2 flex">
        <div class="guide-img">
            
        </div>
        <div class="guide-text">

        </div>
    </article>
    <article class="guide-article step3 flex">
        <div class="guide-img">
            
        </div>
        <div class="guide-text">

        </div>
    </article>
</section>