<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Worldmap</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script type="module" src="/js/client.js"></script>
    <script type="module" src="/js/main.js"></script>
     {{#each js}}
    <script src="/js/{{this}}.js" type="module"></script>
    {{/each}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/mapdata.js"></script>		
<script  type="text/javascript" src="/js/worldmap.js"></script>
</head>

<body>
    {{> header}}

    {{{body}}}

    {{> footer}}
</body>

</html>