.guide-article{
    flex-direction: row;
    margin-bottom: 3rem;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.guide-img{
    width: 30%;
}

.guide-text{
    width: 60%;
}

@media screen and (max-width: 900px){
    .guide-article{
        flex-direction: column;
    }

    .guide-text{
        width: 100%;
        text-align: center;
    }
}
