@import "./header.css";
@import "./footer.css";
@import "./home.css";
@import "./guide.css";
@import "./about.css";
@import "./country.css";
@import "./user.css";
@import "./tips.css";
@import "./signin.css";
@import "./signup.css";

/* * {
    border: 1px solid #ff00ff;
    box-sizing: border-box;
    vertical-align: baseline;
} */

html, body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(to right, pink 0%, lightsalmon 50%, gold 100%);
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.flex{
    display: flex;
}

.page{
    box-sizing: border-box;
    padding: 1.5rem 3rem;
    width: 70%;
    min-width: 375px;
    flex-direction: column;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.5);
}

h2{
    margin: 0 0 1.5rem;
    font-family: 'Cabin Sketch', cursive;
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    margin: 0;
    font-family: 'Cabin Sketch', cursive;
}